:root {
  --content-viibility: visible;
  --default-backgroun-color: rgb(236, 236, 236);
  --curent-glow-color: rgb(186, 204, 43);
}

* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
}

/*HELPER TO SEE BORDERS AROUND ELEMENTS*/
.calculator-responsive-body,
.digit-display,
.memory-buttons-container,
.num-pad,
.side-pane-history-button,
.side-pane-memory-button,
.side-pane,
.side-pane-buttons,
.side-pane-history-button-container,
.side-pane-memory-button-container,
.title-bar,
.menu-bar,
.menu-button,
.trigram-button,
.menu-title,
.history-button ,
.history-delete-button,
.history-delete-image,
.side-pane-delete-button,
.side-pane-content,
.window-control-button-container,
.title-bar-text{
  border: none;
  border-width: 1px;
}

.main-box {
  margin: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  min-width: 322px;
  width: calc(100% - 10px);
  min-height: 500px;
  height: calc(100% - 10px);
  position: absolute;
}

/*  START OF --- three main panes */
.title-bar {
  width: 100%;
  height: 30px;
  
  font-size: 12px;
  background-color: var(--default-backgroun-color);
}

.title-bar-text{
  position: absolute;
  padding-left: 11px;
  padding-top: 9px;
}

.window-control-button-container{
  float: right;
}

.window-control-button{
  display: inline-block;
  padding-top: 7px;
  width: 46px;
  height: 30px;
  text-align: center;
}

.window-minimize-button-image, .window-maximize-button-image, .window-close-button-image{
  width: 16px;
  height: 16px;
}

.window-control-button:hover{
  background-color: rgb(215, 215, 215);
}

.window-close-button:hover{
  background-color: rgb(232,17,35);
}

.calculator-pane {
  position: absolute;
  height: calc(100% - 35px);
  background-color: var(--default-backgroun-color);
}

.side-pane {
  position: absolute;
  height: calc(100% - 30px);
  right: 0px;
  background-color: var(--default-backgroun-color);
}

/* END OF --- three main panes */

/* START OF --- Calculator pane items --> Menu */
.menu-bar {
  width: 100%;
  height: 66px;
}

.menu-button {
  position: absolute;
  width: 46px;
  height: 39px;
}

.trigram-button {
  position: absolute;
  top: 28.5%;
  left: 19%;
  width: 62%;
  height: 50%;
}

.menu-title {
  display: inline-flex;
  position: absolute;
  left: 46px;
  width: calc(100% - 92px);
  height: 39px;
  text-align: left;
  align-items: center;
  padding-left: 10px;
  font-size: 24px;
  padding-bottom: 3px;
}

.history-button {
  position: absolute;
  right: 0;
  width: 39px;
  height: 39px;
}

.history-image {
  position: absolute;
  width: 48%;
  top: 26%;
  left: 26%;
}

/* END OF --- Calculator pane items --> Menu */

/* START OF --- Calculator pane items (Dsiaply-memory-numpad)*/

.calculator-responsive-body {
  width: 100%;
  border-color: rgb(250, 166, 56);
  height: calc(100% - 61px);
}

.digit-display {
  padding-top: 2px;
  text-align: right;
  font-size: 47px;
  font-weight: 500;
  border-color: turquoise;
  width: 100%;
  height: 18.5%;
}

.memory-buttons-container {
  border-color: maroon;
  height: 7%;
}

.memory-button {
  border: solid;
  border-width: 2px;
  border-color: var(--default-backgroun-color);
}

.memory-button:hover, .history-delete-button:hover {
  border: solid;
  border-width: 2px;
  border-color: rgb(166, 166, 166);
}

.left-oriented-memo-button,
.right-oriented-memo-button {
  text-align: center;
  vertical-align: middle;
  font-size: 12.5px;
  font-weight: 600;
  line-height: 2.5;
  height: 100%;
}

.left-oriented-memo-button {
  float: left;
}

.right-oriented-memo-button {
  float: right;
}

.num-pad {
  margin: 4px;
  display: grid;
  gap: 2px;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(4, 1fr);
  border-color: rgb(247, 69, 208);
  height: calc(74.5% - 8px);
}

/* END OF --- Calculator pane items (Dsiaply-memory-numpad)*/

/*START OF --- NUMPAD */

.num-pad-button {
  display: grid;
  justify-content: center;
  align-items: center;
  border: none;
  border-width: 1px;
  font-size: 17px;
  font-size: 20px;
  background-color: rgb(242, 242, 242);
}

.delete-function {
  font-size: 17px;
}

.operator-button {
  font-size: 30px;
  font-weight: 300;
}

.period {
  font-weight: 500;
}

.number-key {
  background-color: rgb(251, 251, 251);
  font-weight: 600;
  font-size: 25px;
}

.num-pad-button:hover {
  background-color: rgb(215, 215, 215);
}

.operator-glow:hover {
  background-color: var(--curent-glow-color);
}

/*START OF --- NUMPAD */

/* START OF --- Side Pane*/

.side-pane-history-button-container,
.side-pane-memory-button-container {
  display: inline-flex;
  margin-top: 9px;
  padding: 0 15px 0 15px;
  justify-content: center;;
}

.side-pane-history-button,
.side-pane-memory-button {
  display: inline-block;
}

.side-pane-history-button-bar,
.side-pane-memory-button-bar {
  height: 3px;
  background-color: var(--curent-glow-color);
}

.side-pane-history-button-text,
.side-pane-memory-button-text {
  height: 25.5px;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
}

.side-pane-content{
  height: calc(100% - 9px - 46px - 28.5px);
}

.side-pane-delete-button{
  width: 100%;
}

.history-delete-button{
  float: right;
  border: solid;
  border-width: 2px;
  border-color: var(--default-backgroun-color);
  width: 46px;
  height: 46px;
  right: 0;
}

.history-delete-image{
  width: 17px;
  height: 20px;
  position: relative;
  left: 11px;
  top: 11px;
}

/* END OF --- Side Pane*/

@media only screen and (max-width: 560px) {
  .calculator-pane {
    width: 100%;
    min-width: 317px;
  }

  .side-pane {
    display: none;
  }

  .left-oriented-memo-button {
    width: 16.8%;
    max-width: 74px;
  }

  .right-oriented-memo-button {
    width: 16%;
    max-width: 74px;
  }
}

@media only screen and (min-width: 561px) and (max-width: 750px) {
  .calculator-pane {
    width: 57%;
  }

  .side-pane {
    width: 43%;
  }

  .history-button {
    display: none;
  }

  .left-oriented-memo-button {
    width: 20%;
    max-width: 74px;
  }

  .right-oriented-memo-button {
    display: none;
  }
}

@media only screen and (min-width: 751px) {
  .calculator-pane {
    width: calc(100% - 325px);
  }

  .side-pane {
    width: 325px;
  }

  .history-button {
    display: none;
  }

  .left-oriented-memo-button {
    width: 20%;
    max-width: 74px;
  }

  .right-oriented-memo-button {
    display: none;
  }
}